/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: rgb(0, 4, 10); }
body { margin: 10px; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1, h2, h3, p {
    color: rgb(43, 101, 226);
}

a {
    color: darkgoldenrod;
}
