<h1>Please create your account.</h1>

<form id="signup" name="signup" method="POST" action="/client-ui/register">
    <div>
        <label for="email">Email:  </label>
        <input type="text" name="email" required>
    </div>
    <div>
        <label for="username">Create Username:  </label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label for="Password">Create Password:  </label>
        <input type="password" name="Password" required>
    </div>
    <div>
        <button type="submit" routerLink="/client-ui/register/csetup-account">Submit</button>
    </div>
</form>
