
<p>dashboard works!</p>
=======
<nav>
    <a routerLink = "" routerLinkActive = "active">Logout</a> 
    <br>
    <a routerLink = "account" routerLinkActine = "active">My Account</a>
</nav>

<nav mat-tab-nav-bar>
    <a mat-tab-link 
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive"
      style="color:black">
      {{link.label}}
    </a>
  </nav>
  <h3>This is test text.  Pay no heed to the man behind the curtain</h3>
  <router-outlet></router-outlet>



