
.navbar {
    width: 100%;
    background-color:  #595959;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  /* Background Change when mouse over */
 /* .navbar a:hover {
      background: #ddd;
      color: black;
    
  }
  */
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      display: block;
    }
} 

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: 1px solid grey;
  margin-left: 810px;
  float: left;
  width: 20%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 8%;
  padding: 6px;
  background: #12A7F0;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

