<header>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <nav class="navbar navbar-expand-md">
        <div><a href="www.example.com"></a></div>
  
       <ul class="navbar-nav">
           <li><a routerLink = "/cdashboard" routerLinkActive = "active">Back</a></li>
       </ul>
       <ul class="navbar-nav navbar-collapse justify-content-end">
           <li><a routerLink = "" routerLinkActive = "active">Logout</a></li>
       </ul>
  
    </nav>
   
  </header> 
  <h1>Appointments</h1>

  <br>

<div class="container">
  <div class="month">
    <strong>January 2020</strong>
  </div>
    <table>
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <tr class="day">
        <td></td>
        <td></td>
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
       </tr>
       <tr class="day">
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
       </tr>
       <tr class="day">
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
       </tr>
       <tr class="day">
        <td>19</td>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
       </tr>
       <tr class="day">
        <td>26</td>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td>31</td>
        <td></td>
       </tr>
    </table>
</div>
  

  