<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<head>
    <link href="https://fonts.googleapis.com/css?family=Cinzel:700&display=swap" rel="stylesheet">
</head>


<h1><span style="color:#12A7F0">P</span>rovider <span style="color:#12A7F0">C</span>are <span style="color:#12A7F0">N</span>etwork</h1>

<router-outlet></router-outlet>
