* {box-sizing: border-box}

/* Add padding to containers */
.form-group {
  padding: 20px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.invalid-feedback {
  margin-left: 16px;
  margin-top: -16px;
  margin-bottom: 20px;
}


.navbar {
    width: 100%;
    background-color: #12A7F0 ;
    overflow: auto;
    border: 1px solid grey;
    cursor: pointer;
  }
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  

  .btn {
    background-color: #12A7F0
    
  }

  .btn1 {
    color: dodgerblue;
    border: none;
    cursor: pointer;
    margin-left: 5px;
  
  }
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      display: block;
    }
} 