 
<nav class="navbar">
    <a routerLink='' routerLinkActive ="active">Home</a> 
</nav>

<br>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <h1>Login</h1>
     
      <hr>
  
      <label for="username"><b>Username</b></label>
      <input type="text" class="form-control" formControlName="email" placeholder="Enter Username" name="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
      </div>  

      <label for="psw"><b>Password</b></label>
      <input type="password" class="form-control" fromControlName="password" placeholder="Enter Password" name="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
      <hr>
      <button [disabled]="loading" type="submit" class="btn btn-primary">Login</button>
      <a href="/clogin/register" class="btn1 btn-link">Register</a>
    </div>

  </form>
