<div class="container-fluid">
    <br>
    <div style="overflow-x:auto;">
      <table data-toggle="table" data-search="true" class="table table-bordered table-hover">
        <tr>
          <th data-field="idClient_User">Client ID</th>
          <th data-field="last_name">Last Name</th>
          <th data-field="first_name">First Name</th>
          <th data-field="dob">DOB</th>
          <th data-field="Gender">Gender</th>
          <th data-field="phone_number">Phone Number</th>
          <th data-field="address">Address</th>
          <th data-field="city">City</th>
          <th data-field="state">State</th>
          <th >Medical History</th>      
        </tr>
     
    <!-- <tr *ngFor="let cprofile of cprofiles">   -->
     <!--<tr *ngFor="let cprofile of cprofiles | ">-->
    <tr *ngFor="let cprofile of filteredProfiles | filter: searchByKeyword: 'idClientUser'">
            <td >{{ cprofile.idClient_User }}</td>
            <td >{{ cprofile.Last_Name }}</td>
            <td >{{ cprofile.First_Name }}</td>
            <td >{{ cprofile.DOB | date }}</td>
            <td >{{ cprofile.Gender }}</td>
            <td >{{ cprofile.Phone_number }}</td>
            <td >{{ cprofile.Street_Address }}</td>
            <td >{{ cprofile.City }}</td>
            <td >{{ cprofile.State }}</td>
            <td ><a [routerLink] = "['history/', cprofile.idClient_User]">Medical History</a></td>
          </tr>
          
      <!--  <app-display-client *ngFor="let cprofiles of cprofiles" [cprofiles] = 'cprofiles'></app-display-client>-->
      </table>
    </div>
    </div>
