.clientProfile {
    color: azure;
}

th {
    color: blue;
    
}

table {
    border-color: black;
    border: solid;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}