.clientProfile {
    color: azure;
}

th {
    color: blue;
    
}

table {
    border-color: black;
    border: solid;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.navbar {
    width: 100%;
    background-color:  #595959;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  /* Background Change when mouse over */
 /* .navbar a:hover {
      background: #ddd;
      color: black;
    
  }
  */
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      display: block;
    }
} 