* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #12A7F0;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* CSS for the Navigation Bar */
.navbar {
    width: 100%;
    background-color: #595959 ;
    overflow: auto;
    border: 1px solid grey;
  }
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .btn {
    background-color: #12A7F0;
    color: white;
  }
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      display: block;
    }
} 