<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
  <a routerLink = "cdashboard" routerLinkActive = "active">Dashboard</a>
  <a routerLink ="cdashboard/calendar" routerLinkActive = "active">Appointments</a>
  <a routerLink = "" routerLinkActive = "active">Logout</a>
</div>

<!--
<nav mat-tab-nav-bar>
    <a mat-tab-link 
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive"
      style="color:black">
      {{link.label}}
    </a>
  </nav>
-->
  <router-outlet></router-outlet>
