This should be replaced with a filter form
<!--
<form novalidate
[formGroup]="form">
<h3>Client Filter</h3>
<div class="row">
	<div class="col-md-3">
		<input type="text"
		formControlName="First_name"
		class="form-control"
		placeholder="First Name"
		/>
	</div>
	<div class="col-md-3">
		<input type="text"
		formControlName="Last_name"
		class="form-control"
		placeholder="Last Name"
		/>
	</div>
	<div class="col-md-3">
		<input type="text"
		formControlName="DOB"
		class="form-control"
		placeholder="Job Title"
		/>
	</div>
	<div class="col-md-3 col-sm-3">
		<select class="form-control"
		formControlName="Phone_number"
        class="form-control"
		placeholder="Phone Number">
		</select>
	</div>
	<div class="col-md-3">
		<input type="text"
		formControlName="Street_Address"
		class="form-control"
		placeholder="Address"
		/>
	</div>
	<div class="col-md-3">
		<input type="text"
		formControlName="City"
		class="form-control"
		placeholder="City"
        />
    <div class="col-md-3">
        <input type="text"
        formControlName="State"
        class="form-control"
        placeholder="State"
        />
    </div>
	</div>
	<div class="col-md-3 col-sm-3">
		<button class="btn btn-primary"
		(click)="search(form.value)">Search</button>
	</div>
</div>
-->